img {
  padding-top: 10px;
}

.main-container{
  margin-left: 20vw; 
  margin-right: 20vw;
  padding: 0px;
}

.title {
  text-align: center;
	width: 80vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -40vw;
	margin-right: -40vw;
}

#header {
  color: white;
  background-image: linear-gradient(to right, #a1c8d6, #4098b7);
  text-align: center;
  margin-bottom: 20px;
  margin-top: -5px;
  padding-bottom: 20px;
  padding-top: 22px;
  position: relative;
  margin-right: -18.75vw;
  margin-left: -18.75vw;
}

#header>h1, #header>h2, #header>h4 {
  color:inherit;
}

html {
  scroll-behavior: smooth;
}

#TOC {
  float: left;
  margin-left: -20vw;
  position: fixed;
  width: 18vw;
  padding-top: 10px;
  background-color: #f0f8ff70;
  border-radius: 10px;
}

#TOC li {
    list-style:none;
    background-image:none;
    background-repeat:none;
    background-position:0;
}